body {
    font-family: 'Gelasio', serif;
    transition: background-color .5s;
}
/* ......navbar start .... */
.navbar {
    background-color: #263238;
    color:#BBD2C5;
}
.navbar a {
    color:#fff;
}
.navbar a:hover {
    color:#BBD2C5;
}
/* ......navbar end .... */

/*   .......... sidebar  start   .... */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #263238;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 46px;
}

.sidenav a,.sidenav .dropdown-btn {
    padding: 8px 8px 8px 12px;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    display: block;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    outline: none;
    width: 100%;
    transition: 0.3s;
}
.sidenav .ap{
    padding-top: 16px;
}

.sidenav a:hover,.sidenav .dropdown-btn:hover {
    color: #000000;
    background-color: #cae8bf;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    font-size: 26px;
    margin-left: 200px;
}

.sidenav .active {
    background-color: #BBD2C5;
    color: #000000;
}

#mySidenav {
    box-shadow: 6px 1px 7px #526b729e;
}

.sidenav .dropdown-container {
    display: none;
    background-color: #526b72;
    padding-left: 8px;
}

.sidenav .fa-caret-down {
    float: right;
    padding-right: 6px;
    padding-top: 6px;
}

#main {
    transition: margin-left .5s;

}
.myclass{
    font-size: 20px;
}

.content{
 margin-left: 30px;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
/*   .......... sidebar  end   .... */

/*    ................................                */

  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Add a card effect for articles */
/*.mycard {*/
    /*background-color: white;*/
    /*padding: 10px;*/
    /*margin-top: 6px;*/

    /*border: none;*/
    /*border-radius: 5px; */
    /*-webkit-box-shadow: 17px 14px 22px 2px rgba(0,0,0,0.75);*/
    /*-moz-box-shadow: 12px 14px 22px 2px rgba(0,0,0,0.75);*/
    /*box-shadow: 12px 14px 22px 2px rgba(0,0,0,0.75);*/
    /*margin-bottom: 100px;*/
/*}*/

/* ..............show product start................  */
.rightcolumn {
    margin-top: 10px;

}

.leftcolumn {
    margin-top: 33px;
    border-right: 2px solid #263238;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

  /* **** left side start***** */
  .leftsidenav {
    z-index:1;
    padding: 8px 0;
    margin-left: 10px;
}

.leftsidenav ul {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #000;
    display: block;
}

.leftsidenav ul li  {
    list-style-type: none;
    cursor: pointer;

}

.leftsidenav ul li a{
    color: #0d6479;
}

.leftsidenav  ul li:hover {
    color: #064579;
}

#menu-btn-open , #menu-btn-close {
    font-size: 25px;
    color : #263238;
    display:none;
    float:right;
    margin-right: 6px;
    margin-bottom: 6px;
    cursor: pointer;
}

@media only screen and (max-width:980px) {

    .leftsidenav {
        width: 66%;
        z-index: 20;
        font-size: 12px;
        display:none;
    }

    .leftsidenav ul li:hover ul {
        margin-left: 61%;
        margin-top: -12px;
    }
    #menu-btn-open{
        display:block;
    }

}

/* sidenav at small Screen Followed larvel */
@media screen and (max-height: 450px) {
    .leftsidenav {padding-top: 15px;}
    .leftsidenav a {font-size: 18px;}
}

/* .......left side end ..... */

/* ..............show product end................  */

/* ----------------select cart--------------------*/

.column {
    float: right;
    width: 21.7%;
    margin-bottom: 6px;
    padding: 0 8px;
    margin-left:45px;
    margin-top:10px;
}

@media screen and (max-width: 650px) {
.column {
    width: 100%;
    display: block;
}
}

.title {
  color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #263234;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
background-color: #556;
}

/* featured-categories */
.featured-categories {
    margin:15px 0;
}
.featured-categories img {
    width:100%;
    padding:15px 0;
    transition:1s;
    cursor: pointer;
}
.featured-categories img:hover {
    transform : scale(1.1);
}
/* on-sale */
.title-box {
    background: #526b72;
    color:#fff;
    width:180px;
    padding: 4px 10px;
    height:40px;
    margin-bottom:30px;
    display:flex;
}
.title-box h2 {
    font-size:24px;
}
.title-box::after {
    content: '';
    border-top: 40px solid #526b72;
    border-right: 50px solid transparent;
    position:absolute;
    display:flex;
    margin-top: -4px;
    margin-left: 170px;
}
/* product-top */
.product-top img {
    width:100%;
    height:300px;
}
.overlay-right {
    display:block;
    opacity:0;
    position:absolute;
    top:10%;
    margin-left: 0;
    width:70px;
}
.overlay-right .fa {
    cursor: pointer;
    background-color:#fff;
    color:#000;
    height:35px;
    width:35px;
    font-size:20px;
    padding:7px;
    margin-top:5%;
    margin-bottom:5%;
}
.overlay-right .btn-secondary {
    background:none !important;
    border:none !important;
    box-shadow:none !important;
}
.product-top:hover .overlay-right {
    opacity:1;
    margin-left:5%;
    transition:0.5s;
}
/* product-bottom */
.product-bottom .fa {
    color:orange;
    font-size:10px;
}
.product-bottom h3 {
    font-size:20px;
    font-weight:bold;
}
.product-bottom h5 {
    font-size:15px;
    padding-bottom:10px;
}
.new-products {
    margin: 15px 0;
}
/* website-features */
.website-features {
    margin:20px 0;
}
.feature-text {
    margin-top: 10px;
    float: right;
    width: 80%;
    padding-left:20px;
    color:#E2E2E2;

}
.feature-box {
    padding-top:20px;
}

/* show product */
.single-product img {
    height: 370px;
    width: 300px;

}
.single-product {
    margin-top: 50px;
}
.new-saly {
    background: #669b10;
    width: 12%;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    margin-top: 18px;
}
.col-md-7 h2 {
    color : #555;
}
.col-md-7 .fa {
    color:orange;
    font-size:20px;
}
.single-product .price {
    text-decoration-line: line-through;
    color:red;
}
.single-product .price-discount {
    color: orange;
    font-size: 18px;
    font-weight: bold;
}
.single-product input {
    border: 1px solid #ccc;
    font-weight: bold;
    height: 33px;
    text-align: center;
    width: 30px
}
.single-product .btn-primary {
    background: #263238 !important;
    color: #fff;
    font-size: 15px;
    margin-left: 20px;
    border: none;
    box-shadow: none !important;
}
.product-description h6 {
    background: #526b72;
    color:#fff;
    width:19%;
    padding: 6px 4px;
    height:30px;
    margin-bottom:30px;
    text-align: center;
    font-size: 18px;
}
.product-description hr {
    margin-bottom:50px;
    margin-top:30px;
}


/* Footer */
.footer {
    margin-top: 50px;
    background-color: #263238;
    color:#fff;
}
.footer h1 {
    font-size:15px;
    margin:25px 0;
}
.footer a {
    text-decoration: none;
    font-size: 12px;
    color: #fff;
    display: block;
    padding-bottom: 15px;
}

.footer a:hover {
   color: red;
}
.copyright {
    margin-bottom: -80px;
    text-align: center;
    font-size: 15px;
    padding-bottom: 20px;
}
.fa-heart-o {
    color:red;
    font-size: 15px;
}
.footer hr {
    margin-top: 10px;
    background-color: #ccc;
}
.footer-image img {
    width: 150px;
}
.footer .row .fa {
    padding-right:6px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

 /* dropdown-menu */
.dropdown-menu {
    background-color: #263238 ;
    color: white;
    cursor: pointer;
    box-shadow: 3px 2px 2px 3px #526b729e;
}
.dropdown-menu a:hover {
    background-color: #ffa50094 ;
     color: #000;
    font-size:16px;
}
/* dropdown size products */
.dropbtn {
    background-color: #263238 ;
    color: white;
    padding: 5px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    width:110%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #202326eb;;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: orange;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover { background-color: #ffa50094 ; color: #000; }

.dropdown:hover .dropdown-content { display: block; }

.dropdown:hover .dropbtn { background-color: #000; }





/*  ......Ratings start.........   */

.vl {
    position: absolute;
    left: 46%; 
    transform: translate(-50%);
    border: 2px solid #ddd;
    height: 175px;
}

.vl-innertext {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 8px 10px;
}

/*  ......Ratings end.........   */


/* .............home............ */

.ftco-section {
    padding: 4em 0;
    position: relative;}
@media (max-width: 767.98px) {
    .ftco-section {
        padding: 6em 0;
    }
}

.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.img {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


.case {
    width: 100%;
    margin-bottom: 50px;
}
.case .img {
    height: 400px;
}
.case .text .subheading {
    font-weight: 500;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
}
.case .text h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
}
.case .text h2 a {
    color: #000000;
}

.case .text .media-social {
    opacity: 0;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
@media (max-width: 1199.98px) {
    .case .text .media-social {
        opacity: 1;
    }
}
.case .text .media-social li {
    list-style: none;
    margin: 0 5px 0 0;
    display: inline-block;
}
.case .text .media-social li a {
    height: 50px;
    width: 50px;
    display: block;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    position: relative;
    color: #000000;
}
.case .text .media-social li a span {
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.case .text .media-social li a:hover {
    background: #ffd369;
    color: #000000;
}
.case .text .meta p {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.2);
}
.case .text .meta p a {
    color: rgba(0, 0, 0, 0.2);
    text-decoration: none;
}
.case:hover .text h2 a {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}
.case:hover .text .media-social {
    opacity: 1;
}
.case:hover .text .meta p a {
    color: #000000;

}












